/* Change size of header and row font */
th { font-size: 14px; }
td { font-size: 14px; }


/* Make border around table and align numbers*/
table {
    border: 1px solid;
    text-align: center;
}


/* Left Align for names */
.table td:first-child {
  text-align: left;
}


/* Helps make columns wider*/
tr,th,td {
overflow:hidden;
white-space:nowrap;
word-wrap:break-word;
}

/* Change color of bootstrap button to the older one
   The new color is - #007bff
*/
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #337ab7 !important;
}


/* Change table header color */
th:nth-child(n)
{
   color: #fff;
   background-color: #337ab7; //Replace it with your desired color
}

